@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Video Catalogue";
}

<div class="text-left">
    <h4><i>The catalogue is empty. Use the upload form to add videos.</i></h4>
</div>
